medium-image{
  margin-top: 60px;
    padding-top = 60px;
} 

html{
  margin: 20 60 20 60;
}

/*#body{
  background-color : #3498DB;
}*/

#botonContacto{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

   /*display: block;*/

}
#description {
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 34px;
  font-style: italic;
  font-variant: normal;
  font-weight: 500;
  line-height: 27px;
  color: #ecf0f1;
  background: "http://www.emergencetek.com/assets/Uploads/Software-Engineering-ICT.jpg";
 /* padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;*/

}
.Contacto{
  font-size: 10;
}

.relleno1{
  font-size: 12px;
  
  margin-left: 40;
}
.relleno2{
  font-size: 12px;
  
  margin-right: 40;
 
}

.navBarButtons{
  /*padding-right: 400px;*/
  padding-right: 40;
}
